@charset "UTF-8";

/* =====================
  基本設定
===================== */
body{
    overflow-x:hidden;
    width:100%;
}


body {
  background-color: #fff;
  font-family: "Zen Maru Gothic", sans-serif;
  color: #717171;
}

html {
    scroll-behavior: smooth;
}

/* =====================
  フォント設定
===================== */

/* 見出し */
h2 {
  font-family: "Inria Serif", serif;
  font-size: 35px;
  color: #717171;
}

/* 作品タイトル */
h3 {
  font-family: "Inria Serif", serif;
  font-size: 17px;
  color: #717171;
}

/* 説明文 */
p {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 13px;
  color: #887f7f;
}


/* =====================
  トップ
===================== */


/* =====================
  ヘッダー
===================== */
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    max-width:100vw;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    z-index:1000;
    box-sizing:border-box;
}



/* =====================
  ロゴ
===================== */
.site-logo{
    display:flex;
    align-items:center;
    gap:15px;
    text-decoration:none;
    color:#717171;
    margin-left:0;
    padding:8px 16px;
    background:rgba(255,255,255,0.3);
    backdrop-filter:blur(8px);
    border:1px solid rgba(255,255,255,.3);
    border-radius:999px;
}

.site-logo img{
    width:48px;
    height:48px;
}

.logo-text h1{
    margin:0;
    font-size:20px;
}

.logo-text p{
    margin:0;
    font-size:12px;
}




/* =====================
  メニュー
===================== */
.menu-area{
    position:relative;
}


.menu-button{
  width:140px;
  height:60px;
  border-radius:999px;
  border:1px solid rgba(255,255,255,.5);
  background:rgba(255,255,255,.4);
  backdrop-filter:blur(10px);
  color:#717171;
  cursor:pointer;
  font-family:"Inria Serif", serif;
  font-size:18px;
  letter-spacing:0.15em;
}


/* ナビゲーションを隠す */

.pc-nav{
  position:absolute;
  top:55px;
  right:0;
  width:160px;
  padding:25px;
  display:flex;
  flex-direction:column;
  gap:20px;
  background:rgba(255,255,255,.65);
  backdrop-filter:blur(15px);
  border-radius:25px;
  box-shadow:
  0 15px 35px rgba(0,0,0,.1);
  opacity:0;
  visibility:hidden;
  transform:translateY(-10px);
  transition:.4s ease;
}


.pc-nav a{

  position:relative; 
  display:inline-block;
  width:fit-content;
  text-decoration:none;
  color:#717171;
  font-family:"Inria Serif", serif;
  font-size:16px;
  letter-spacing:0.15em;
  transition:.3s ease;
}

/* ホバーで表示 */
.menu-area:hover .pc-nav{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}


/* 文字の下線 */
.pc-nav a::after {
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:1px;
    background:#717171;
    transition:.3s ease;
}


.pc-nav a:hover::after {
    width:100%;
}






/* 自動スライド */

#hero-content {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  animation: heroFadeIn 1.2s ease forwards;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}



@keyframes heroFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.hero-intro {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  text-align: center;
  opacity:0;
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.3s;
}


.slider-dots{
  position:absolute;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:12px;
  z-index:100;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}




.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  opacity: 1;
  animation: none;
  animation-delay: 0.8s;
}

.hero-intro,
.hero-title {
  z-index: 20;
  text-align: center;
}



@keyframes fadeUpTitle {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}



.hero-intro p {
  font-size:30px;
  color:#fff;
}


.hero-title h1 {
  font-family: "Inria Serif", serif;
  font-size: 64px;
  color: #fff;
  opacity:0;
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.8s;
}

.hero-title p {
  font-size: 30px;
  color: #fff;
  opacity:0;
  animation: fadeUp 1s ease forwards;
  animation-delay: 1.3s;
}




.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.slider img.active {
  opacity: 1;
  animation: imageZoom 6s ease forwards;
}


@keyframes imageZoom {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}



/* 矢印 */
.slider-prev,
.slider-next {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.25);
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
  backdrop-filter: blur(8px);
}


.slider-prev {
  left: 40px;
  transition: transform 0.3s ease;
}

.slider-prev:hover {
  transform: translate(-5px, -50%);
}

.slider-next {
  right: 40px;
  transition: transform 0.3s ease;
}

.slider-next:hover {
  transform: translateX(8px) translateY(-50%);
}




.slider-dots span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
}


.slider-dots span.active {
  background: #707070;
}








/* =====================
  プロフィール
===================== */
#about {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: flex-start;
  padding-top: 200px;
}


.profile-info {
  margin-top:0;
  padding-top:0;
}


.profile-info h2 {
  margin-top:0;
  
}


.profile-info p {
  font-size: 15px;
  line-height: 2;
}

.profile-image {
  width: 300px;
  height: 300px;
  background-color: #ddd;
  border-radius: 12px;
  position: relative;
  flex-shrink:0;
}


.profile-message {
  position: absolute;
  top: -50px;
  left: 200px;
  width: 180px;
  padding: 15px;
  background: rgba(255,255,255,0.9);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) translateX(10px);
  transition: 0.3s ease;
}



/* 小さい丸（💭の部分） */
.profile-message::before,
.profile-message::after {
  content:"";
  position:absolute;
  background:white;
  border-radius:50%;
}


.profile-message::before {
  width:25px;
  height:25px;
  bottom:-20px;
  left:45px;
}


.profile-message::after {
  width:12px;
  height:12px;
  bottom:-35px;
  left:30px;
}


/* 写真ホバー時 */
.profile-image:hover .profile-message {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) translateX(0);
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.tools {
  display: flex;
  gap: 16px;
}

.tool-image {
  width: 50px;
  height: 48px;
  border-radius: 12px;
}

.tool-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}




/* =====================
  スクロールアニメーション
===================== */

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}


.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}






/* =====================
  作品一覧
===================== */


#design h2,
#illustration h2 {
  display: flex;
  align-items: center;
  gap: 30px;
}

#design h2::before,
#design h2::after,
#illustration h2::before,
#illustration h2::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #717171;
}



#design {
  padding: 80px;
  padding-top: 150px;
}

#design h2 {
  text-align: center;
}

.works-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 80px;
}


.work-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}



.work-card h3 {
  margin: 15px 0 5px;
}

.work-card p {
  margin: 0;
}


.work-image {
  position: relative;
  width: 400px;
  height: 250px;
  overflow: hidden;
  border-radius: 12px;
  background: #b6b6b6;
}



.work-image:hover {
  box-shadow: 0 15px 35px rgba(0,0,0,0.18);
}


.work-image > .main-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease, opacity 0.4s ease;
}



.work-image:hover .main-image {
  opacity: 0.35;
  transform: scale(1.08);
}


.work-image:hover .preview-list {
  opacity: 1;
}


.preview-list {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 25px;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.4s ease;
}



.preview-list img {
  width:30%;
  height:auto;
  object-fit:cover;
}


#illustration {
  padding: 80px;
}

#illustration h2 {
  text-align: center;
}



/* =====================
  お問合せ
===================== */

#contact h2 {
  text-align: center;
}


#contact{
    padding:200px 0;
}


.contact-card{
    width:600px;
    margin:80px auto 0;
    padding:50px;
    background:rgba(255,255,255,.45);
    backdrop-filter:blur(15px);
    border-radius:30px;
    border:1px solid rgba(255,255,255,.5);
    box-shadow:
    0 20px 40px rgba(0,0,0,.08);
}



.contact-form{
    display:flex;
    flex-direction:column;
    gap:15px;
}


.contact-form label{
    font-size:14px;
    letter-spacing:.1em;
}


.contact-form input,
.contact-form textarea{
    padding:15px 20px;
    border-radius:15px;
    border:1px solid #ddd;
    background:rgba(255, 255, 255, 0.7);
    font-family:"Zen Maru Gothic",sans-serif;
}


.contact-form button{
    width:180px;
    margin:30px auto 0;
    padding:14px 40px;
    border:1px solid rgba(255,255,255,.6);
    border-radius:999px;
    backdrop-filter:blur(8px);
    background:#ffc3e966;
    color:#717171;
    font-family:"Inria Serif", serif;
    font-size:16px;
    letter-spacing:0.15em;
    cursor:pointer;
    transition:.3s ease;
}



.contact-form button:hover{
    transform:translateY(-3px);
    background:#a1caff;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}


/* エラーメッセージ */
.error-message{
    color:#d86b6b;
    font-size:12px;
    margin-top:-8px;
    margin-bottom:5px;
    min-height:16px;
}




/* =====================
  確認画面
===================== */

#confirm-area {
    width:600px;
    margin:80px auto 0;
    font-family:"Zen Maru Gothic",sans-serif;
    text-align:center;
}


.show-confirm {
    animation: fadeConfirm 0.5s ease forwards;
}

@keyframes fadeConfirm {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* タイトル */

#confirm-area h3 {
    font-family:"Zen Maru Gothic",sans-serif;
    font-size:24px;
    color:#717171;
    text-align:center;
    margin-bottom:40px;
}


#confirm-area p {
    text-align:left;
    margin: 15px 0;
    padding:0 100px;
}


/* 確認項目 */
.confirm-item {
    margin-bottom:30px;
    text-align:left;
}


/* 項目名 */
.confirm-label {
    font-size:14px;
    letter-spacing:.1em;
    color:#717171;
    margin-bottom:8px;
}


/* 入力内容 */

.confirm-value {
    font-size:15px;
    color:#887f7f;
    line-height:1.8;
}



.confirm-description {
    text-align:center;
    font-size:13px;
    color:#887f7f;
    line-height:1.8;
    margin-bottom:40px;
    font-weight:300;
}

/* ボタン */

#confirm-area button {
    width:180px;
    margin:30px 10px 0;
    padding:14px 40px;
    border-radius:999px;
    border:1px solid rgba(255,255,255,.6);
    background:#ffc3e966;
    color:#717171;
    font-family:"Inria Serif",serif;
    font-size:16px;
    letter-spacing:.15em;
    cursor:pointer;
    transition:.3s ease;
    display:inline-block;
}


#confirm-area button:hover {
    transform:translateY(-3px);
    background:#a1caff;
    box-shadow:
    0 10px 25px rgba(0,0,0,.15);
}



.success-message {
    text-align:center;
    font-family:"Zen Maru Gothic",sans-serif;
    font-size:16px;
    color:#887f7f;
    margin-top:40px;
    opacity:0;
    transform:translateY(20px);
}


.success-message.show-success {
    animation: fadeSuccess 0.8s ease forwards;
}

@keyframes fadeSuccess {

  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}



/* =====================
  フッター
===================== */
.site-footer{
    padding:100px 20px 60px;
    text-align:center;
    background:#fff;
}

.site-footer h2{
    font-family:"Inria Serif", serif;
    font-size:28px;
    color:#717171;
    margin-bottom:10px;
}

.footer-role{
    font-size:15px;
    color:#887f7f;
    margin-bottom:40px;
}

.copyright{
    font-size:12px;
    color:#b0b0b0;
    line-height:1.8;
}




/* =====================
  詳細ページ
===================== */

.project-info{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap: 100px;
  margin-top:80px;
}

.sp{
  display:none;
}

.info-item h4{
  font-family:"Inria Serif", serif;
  font-size:30px;
  color:#717171;
  margin-bottom:15px;
  position:relative;
  padding-bottom:10px;
}

.info-item h4::after{
  content:"";
  position:absolute;
  left:0;
  bottom:0;
  width:0;
  height:1px;
  background:#717171;
  transition:0.4s ease;
}

.info-item:hover h4::after{
  width:100%;
}

.info-item ul{
  list-style:none;
  padding:0;
  margin:0;
}

.info-item li{
  line-height:2;
  font-size:18px;
  color:#887f7f;
}



/*文章*/
.brand-concept{
    max-width:900px;
    margin:0 auto;
}



.brand-concept p{
    font-family:"Inria Serif", serif;
    font-size:20px;
    line-height:2;
    text-align:left;
}


.serif-text{
    max-width:900px;
    margin:0 auto;
    font-family:"Inria Serif", serif;
    font-size:20px;
    line-height:2;
}


.work-section-title {
  width: fit-content;
  margin: 200px auto 40px;
  text-align: center;
}


.section-number{
  display:block;
  font-family:"Inria Serif", serif;
  font-size:60px;
  color:#d9d9d9;
  line-height:1;
  margin-bottom:10px;
}

.work-section-title h3{
  font-family:"Inria Serif", serif;
  font-size:26px;
  color:#717171;
  letter-spacing:2px;
}

.work-section-title h3::after{
  content:"";
  display:block;
  width:60px;
  height:1px;
  background:#717171;
  margin:15px auto 0;
  transition: width .4s ease;
}

.work-section-title:hover h3::after{
  width:200px;
}




.work-page h2 {
  font-size: 24px;
  font-family: "Inria Serif", serif;
  text-align:center;
}

.work-page h3 {
  font-size: 30px;
  font-family: "Inria Serif", serif;
}

.work-page p {
  font-size: 20px;
  line-height: 2;
  font-family: "Inria Serif", serif;
}

.work-top {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.work-top-image {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUpWork 1s ease forwards;
}


@keyframes fadeUpWork {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.work-top-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.work-overview {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
  padding-top: 150px;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUpWork 0.8s ease forwards;
  animation-delay: 0.2s;
}

.logo-image{
    width:350px;
    opacity:1;
    transform:none;
}

.logo-image img {
  width: 100%;
  height: auto;
  display: block;
}


.logo-shin {
  width: 400px;
}

.logo-umigame {
  width: 300px;
}

.logo-sudachi {
  width: 250px;
}

.logo-yui {
  width: 230px;
}

.logo-memoria {
  width: 300px;
}

.logo-heal {
  width: 400px;
}



/* 横3列作品 */

.work-gallery-logo {
  display: grid;
  grid-template-columns: repeat(3, 345px);
  gap: 30px;
  margin: 150px auto 0;
  justify-content: center;
}


.logo-item {
  width: 345px;
  height: 480px;
  background-color:transparent;
}




.logo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*もっと見るボタン */
.more-button{
    display:block;
    margin:80px auto 0;
    padding:15px 50px;
    border-radius:999px;
    border:1px solid #717171;
    background:rgba(255,255,255,.5);
    backdrop-filter:blur(8px);
    font-family:"Inria Serif",serif;
    font-size:16px;
    letter-spacing:.15em;
    color:#717171;
    cursor:pointer;
    transition:.3s ease;
}


.hidden {
    display: none;
}



.more-button{
    display:block !important;
    position:relative;
    z-index:100;
}

.more-button:hover{
    transform:translateY(-3px);
    background:#a1caff;
}


.work-gallery-package {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 50px;
  justify-content: center;
  margin-top: 10px;
}


.package-item {
  width: 300px;
  height: 400px;
  overflow: hidden;
}


.package-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.package-item:nth-child(1) img {
  transform: scale(0.85);
}





.work-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  margin-top: 80px;
}


.visual-image {
  width: 600px;
  height: auto;
  position: relative;
  overflow: hidden;
}


.visual-large {
  width: 800px;
}


.visual-medium {
  width: 500px;
}

.visual-message {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.75);
  backdrop-filter: blur(6px);
  opacity: 0;
  transform: translateY(20px);
  transition: .4s ease;
  text-align: left;
}


.visual-message p {
  max-width: 480px;
  font-size: 18px;
  line-height: 1.8;
}

.visual-message h3 {
  font-size: 25px;
}



.visual-image:hover .visual-message {
  opacity: 1;
  transform: translateY(0);
}



.visual-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/* 真-笠作品 */
/* 上3枚 */
.work-gallery-kasa {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 50px;
  justify-content: center;
  margin: 250px auto 0;
}

/* 下2枚 */
.work-gallery-kasa-two {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  gap: 50px;
  justify-content: center;
  margin: 50px auto 0;
}

.poster-image {
  width:350px;
  aspect-ratio:1 / 1;
  border-radius:50%;
  position:relative;
  overflow:hidden;
}


.poster-image img {
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}


/* ホバー説明 */
.poster-message {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(6px);
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.4s ease;
}


.poster-image:hover .poster-message {
  opacity: 1;
  transform: translateY(0);
}


.poster-message h3 {
  font-size: 24px;
  margin-bottom: 15px;
}


.poster-message p {
  font-size: 20px;
  line-height: 1.8;
}




/* 作品トップ画像（フル表示用） */
.full-image-top {
  aspect-ratio: auto;
}

.full-image-top .work-top-image {
  height: auto;
}

.full-image-top .work-top-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


/* 説明エリア調整 */
.y2k-overview,
.heal-overview {
  padding-top: 200px;
}





/* =====================
  Responsive
===================== */

/* =====================
  SP（768px以下）
===================== */

@media screen and (max-width:768px){


/* =====================
  ヘッダー
===================== */

header{
    width:100%;
    max-width:100vw;
    padding:15px 20px;
    box-sizing:border-box;
}

/* 横ズレ防止 */
html,
body{
    overflow-x:hidden;
    width:100%;
}


.site-logo img{
    width:35px;
    height:35px;
}


.logo-text h1{
    font-size:16px;
}



/* =====================
  メニュー
===================== */

.menu-button{
    width:100px;
    height:50px;
    font-size:15px;
}



/* =====================
  Hero
===================== */
.hero-title{
    top:45%;
}


.hero-title h1{
    font-size:28px;
}

.hero-intro{
    top:35%;
}

.hero-title p{
    font-size:13px;
}


.hero-intro p{
    font-size:13px;
}


#hero-content{
    aspect-ratio: 4 / 3;
    height:auto;
    overflow:hidden;
}


.slider{
    height:100%;
}


.slider-dots{
    bottom:20px;
}

.slider-prev,
.slider-next {
    width:35px;
    height:35px;
    font-size:15px;
}

.slider-prev{
    left:15px;
}

.slider-next{
    right:15px;
}

/* =====================
  プロフィール
===================== */

#about{
    flex-direction:column;
    align-items:center;
    gap:40px;
    padding-top:100px;
}


.profile-image{
    width:220px;
    height:220px;
}


.profile-info{
    width:90%;
    margin:0 auto;
}


.profile-info h2{
    margin-top:0;
    text-align:center;
}


.profile-info p{
    text-align:left;
}



/* =====================
  Works一覧
===================== */

#design,
#illustration {
    padding-left:20px;
    padding-right:20px;
}


#design h2,
#illustration h2{
    justify-content:center;
    width:100%;
}


#design h2::before,
#design h2::after,
#illustration h2::before,
#illustration h2::after{
    flex: none;
    width:60px;
}



.works-grid{
    grid-template-columns:1fr;
    gap:50px;
}


.work-image{
    width:95%;
    margin:0 auto;
    height:auto;
    aspect-ratio:16 / 9;
}



/* =====================
  Contact
===================== */

.contact-card{
    width:90%;
    padding:30px 20px;
}


#confirm-area{
    width:90%;
}


#confirm-area p{
    padding:0 20px;
}



/* =====================
  詳細ページ
===================== */


.work-top{
    aspect-ratio:auto;
}


.work-top-image{
    height:auto;
}


.work-top-image img{
    height:auto;
    object-fit:contain;
}


.work-overview {
        padding-top:50px;
    }




/* 詳細ページ見出し */

.work-page h2{
    width:100%;
    padding:0 10px;
    box-sizing:border-box;
    text-align:center;
    font-family:"Inria Serif", serif;
    font-size:22px;
    line-height:1.5;
    letter-spacing:0.03em;
}

.sp{
    display:block;
  }


.work-page h3{
    padding-left:20px;
    padding-right:20px;
    text-align:center;
}


.work-page p{
    padding-left:20px;
    padding-right:20px;
    line-height:2;
    letter-spacing:0.05em;
}



.brand-concept{
    padding-left:20px;
    padding-right:20px;
    max-width:600px;
    margin:0 auto;
}




.y2k-overview,
.heal-overview {
    padding-top:50px;
}


/* =====================
  作品情報
===================== */

.project-info{
    grid-template-columns:1fr;
    gap:40px;
}


.info-item h4{
    font-size:24px;
}


.info-item li{
    font-size:15px;
}



/* =====================
  ロゴ一覧
===================== */


.work-gallery-logo{
    grid-template-columns:1fr;
    gap:40px;
}

.logo-image img{
    max-width:100%;
    height:auto;
}


 /* ロゴ一覧 */
.logo-image,
.logo-heal,
.logo-shin,
.logo-umigame,
.logo-sudachi,
.logo-yui,
.logo-memoria {
    width:80%;
    max-width:220px;
    margin:auto;
}


.logo-sudachi{
    width:60%;
    max-width:160px;
}

.logo-yui{
    width:60%;
    max-width:160px;
}


.logo-item{
    width:90%;
    height:auto;
    aspect-ratio:345 / 480;
    margin:auto;
}



/* =====================
  パッケージ画像
===================== */


.work-gallery-package{
    grid-template-columns:1fr;
}


.package-item{
    width:90%;
    height:auto;
    margin:auto;
}



/* =====================
  大きい作品画像
===================== */


.visual-image,
.visual-large,
.visual-medium{
    width:90%;
}


.visual-message{
    position:static;
    opacity:1;
    transform:none;
    background:none;
    backdrop-filter:none;
    padding:20px 0;
    text-align:left;
}


.visual-message p{
    font-size:14px;
}


.visual-message h3{
    font-size:20px;
}



/* =====================
  笠ポスター
===================== */


.work-gallery-kasa{
    grid-template-columns:1fr;
    gap:40px;
    margin-top:100px;
}


.work-gallery-kasa-two{
    grid-template-columns:1fr;
    gap:40px;
}


.poster-image{
    width:90%;
    max-width:350px;
    aspect-ratio:1 / 1;
    margin:auto;
    overflow:visible;
    height:auto;aspect-ratio:auto;
}

.poster-image img{
    width:100%;
    aspect-ratio:1 / 1;
    object-fit:cover;
    border-radius:50%;
}


.work-gallery-kasa{
    grid-template-columns:1fr;
    gap:60px;
}

.work-gallery-kasa-two{
    grid-template-columns:1fr;
    gap:60px;
}

.poster-message {
    position:static;
    display:block;
    opacity:1;
    transform:none;
    background:none;
    backdrop-filter:none;
    padding:20px 0;
    width:100%;
}

.poster-message h3{
    font-size:20px;
}


.poster-message p{
    font-size:14px;
    line-height:1.8;
}



.work-gallery-logo,
.work-gallery-package,
.work-gallery-kasa,
.work-gallery-kasa-two,
.work-showcase{
    width:100%;
    max-width:100%;
    box-sizing:border-box;
}


.visual-image,
.visual-large,
.visual-medium{
    max-width:100%;
}


.work-page img{
    max-width:100%;
    height:auto;
}




}